<h4>
    Login Empleados
</h4>

<form method="post">
    <label>Apellido</label>
    <input type="text" name="username" class="form-control" required />
    <label>Password</label>
    <input type="text" name="password" class="form-control" required />
    <button class="btn btn-warning">
        Login
    </button>
</form>

<h4>
    @ViewData["MENSAJE"]
</h4>